
__pycache__/
*.py[cod]
*.pyo


.venv/
env/
venv/
ENV/


.ipynb_checkpoints/
.streamlit/*.toml  # ignore any local secrets.toml


*.log
.DS_Store
Thumbs.db


.vscode/


*.swp
*.bak
*.tmp



*.egg-info/
dist/
build/
